[submodule "resources/free-programming-books"]
	path = resources/free-programming-books
	url = https://github.com/vhf/free-programming-books
[submodule "resources/themes/Arc-theme"]
	path = resources/themes/Arc-theme
	url = https://github.com/horst3180/Arc-theme
[submodule "resources/themes/iris"]
	path = resources/themes/iris
	url = https://github.com/xyl0n/iris
[submodule "resources/themes/iris-light"]
	path = resources/themes/iris-light
	url = https://github.com/xyl0n/iris-light
